body{
    margin:0px;
}

.header{
    height:50px;
    background-color:white;
    color: #1DBFF3;;
    padding:5px;
    position:fixed;
    top:0px;
    width:100%;
    border-bottom: 2px solid #1DBFF3;
}

li{
    display:inline;
    list-style-type: none;
    padding: 10px;
    position:relative;
    left: 85%;
}

body{
    font-family:arial;
}

.title{
    margin-top: 50px;
    padding:30px;
    background-image: linear-gradient(to right, blue , #1DBFF3);
    color:white;
    width:100%;
    text-align:center;
}

.welcome{
    color:#1DBFF3;
}

a{
    color:white;
}

a:hover{
    text-decoration: underline;
    color:orange
}

.section{
    padding:10px;
    color: #1DBFF3;
    text-align:center;
}

.examples{
    
    text-align:center;
}

.project{
    margin:30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px gray;
}

.project:hover{
    box-shadow:7px 7px 7px 7px #1DBFF3;
}