body{
    margin:0px;
}

.header{
    height:50px;
    background-color:white;
    color: #1DBFF3;;
    padding:5px;
    position:fixed;
    top:0px;
    width:100%;
    border-bottom: 2px solid #1DBFF3;
}

.me{
    float:left;
    padding-left:10px;
}

li{
    display:inline;
    list-style-type: none;
    padding: 10px;
    position:relative;
    left:80%;
    
}

body{
    font-family:arial;
}

.title{
    margin-top: 50px;
    padding:30px;
    background-image: linear-gradient(to right, blue , #1DBFF3);
    color:white;
    width:100%;
    text-align:center;
}

.welcome{
    color:#1DBFF3;
}

.about{
    font-family:serif;
    font-weight: lighter;
}

a{
    color:white;
    font-family:serif;
    font-weight: lighter;
}

a:hover{
    text-decoration: underline;
    color:orange
}

.section{
    padding:10px;
    color: #1DBFF3;
    text-align:center;
    height:600px;
}

.examples{
    float:left;
    text-align:center;
    position:relative
    margin:0px auto;
    width:50%;
    height:50%;;
}

.project{
    margin:30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px gray;
    display:inline-block;
    vertical-align: top;
}

.project:hover{
    box-shadow:7px 7px 7px 7px #1DBFF3;
}

.footer{
    background-image: linear-gradient(to right, blue , #1DBFF3);
    color: white;
    text-align:center;
    bottom:0px;
    padding:10px;
}
